# SPDX-License-Identifier: GPL-2.0-only
config SEC_A25X_PROJECT
	default n
	bool "Samsung A25X Project"
	help
	  Support for Samsung A25X Project

config SEC_A53X_PROJECT
	default n
	bool "Samsung A53X Project"
	help
	  Support for Samsung A53X Project

config SEC_GTA4XLS_PROJECT
	default n
	bool "Samsung GTA4XLS Project"
	help
	  Support for Samsung GTA4XLS Project

config SEC_N34X_PROJECT
	default n
	bool "Samsung M34X Project"
	help
	  Support for Samsung M34X Project
