# SPDX-License-Identifier: GPL-2.0

# Battery
CONFIG_BATTERY_SAMSUNG_REBOOT=y

# Camera
CONFIG_CAMERA_AAV_A53X=y
CONFIG_CAMERA_ACT_AK737X_OBJ=m
CONFIG_CAMERA_CIS_GC5035_OBJ=m
CONFIG_CAMERA_CIS_GD2_OBJ=m
CONFIG_CAMERA_CIS_GW1_OBJ=m
CONFIG_CAMERA_CIS_HI1336_OBJ=m
CONFIG_CAMERA_CIS_IMX258_OBJ=m
CONFIG_CAMERA_CIS_IMX616_OBJ=m
CONFIG_CAMERA_CIS_IMX682_OBJ=m
CONFIG_CAMERA_FLASH_SM5714_OBJ=m
CONFIG_CAMERA_USE_MCU=y
CONFIG_OIS_USE=y

# Charger
CONFIG_CHARGER_SM5451=m
CONFIG_CHARGER_SM5714=m
CONFIG_HICCUP_CHARGER=y
CONFIG_SM5714_FACTORY_MODE=y
CONFIG_SM5714_SUPPORT_SBU=y
CONFIG_SM5714_WATER_DETECTION_ENABLE=y

# DM Verity
CONFIG_DM_ANDROID_VERITY_AT_MOST_ONCE_DEFAULT_ENABLED=y

# DRM
CONFIG_DRM_SAMSUNG_DOZE=y

# Exynos
CONFIG_EXYNOS_FREQ_HOP=m

# Fingerprint
CONFIG_SENSORS_FINGERPRINT_NORMALSPI=y
CONFIG_SENSORS_GW9558X=m

# Fuelgauge
CONFIG_FUELGAUGE_SM5714=m

# Input
CONFIG_HALL_LOGICAL=m
CONFIG_HALL_NOTIFIER=m
CONFIG_INPUT_HALL_IC=m

# Leds
CONFIG_LEDS_SM5714=m

# MFD
CONFIG_MFD_SM5714=m

# MUIC
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_MUIC_COMMON_SYSFS=y
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_USE_MODULE_PARAM=y

# NFC
CONFIG_NFC_PVDD_LATE_ENABLE=y
CONFIG_SAMSUNG_NFC=m
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_LOGGER=y

# NFC - eSE
CONFIG_ESE_P3_LSI=y
CONFIG_ESE_COLDRESET=y

# PDIC
CONFIG_PDIC_SM5714=m

# Panel
CONFIG_DISPLAY_USE_INFO=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_EXYNOS_DECON_LCD_S6E3FC3=m
CONFIG_EXYNOS_DECON_LCD_SYSFS=y
CONFIG_EXYNOS_DECON_MDNIE_LITE=y
CONFIG_EXYNOS_LCD_ENG=y
CONFIG_MCD_PANEL=m
CONFIG_MCD_PANEL_LPM=y
CONFIG_PANEL_AID_DIMMING=y
CONFIG_PANEL_DEBUG=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PANEL_FREQ_HOP=y
CONFIG_PANEL_NOTIFY=y
CONFIG_PANEL_VRR_BRIDGE=y
CONFIG_SUPPORT_AOD_BL=y
CONFIG_SUPPORT_GRAM_CHECKSUM=y
CONFIG_SUPPORT_MASK_LAYER=y
CONFIG_SUPPORT_PANEL_DECODER_TEST=y

# Project
CONFIG_SEC_A53X_PROJECT=y

# SEC
CONFIG_SEC_ABC_MOTTO=m

# Sensors
CONFIG_SENSORS_SX9380=m

# Sound
CONFIG_SND_SOC_SAMSUNG_EXYNOS8825_AUDIO=m

# Sound - Abox
CONFIG_SND_SOC_SAMSUNG_MAILBOX=m
CONFIG_SND_SOC_SAMSUNG_SLIF=m
CONFIG_SND_SOC_SAMSUNG_SLIF_VERSION=0x10101
CONFIG_SND_SOC_SAMSUNG_VTS=m
CONFIG_SND_SOC_SAMSUNG_VTS_V2_1=y
CONFIG_SND_SOC_SAMSUNG_VTS_VERSION=0x20100
