# SPDX-License-Identifier: GPL-2.0

# Battery
CONFIG_BATTERY_LOGGING=y
CONFIG_BATTERY_SAMSUNG_REBOOT=y
CONFIG_TABLET_MODEL_CONCEPT=y

# Camera
CONFIG_CAMERA_ACT_DW9808_OBJ=m
CONFIG_CAMERA_CIS_4HA_OBJ=m
CONFIG_CAMERA_CIS_GC5035_OBJ
CONFIG_CAMERA_STX_V04=y

# Charger
# CONFIG_DIRECT_CHARGING is not set
# CONFIG_STEP_CHARGING is not set
CONFIG_CHARGER_SM5714=m
CONFIG_SM5714_FACTORY_MODE
CONFIG_SUPPORT_HV_CTRL=y

# Fingerprint
# CONFIG_FINGERPRINT_SECURE is not set
# CONFIG_SENSORS_FINGERPRINT is not set
# CONFIG_SENSORS_FINGERPRINT_LSI is not set
# CONFIG_SENSORS_FINGERPRINT_MODULE is not set

# Fuelgauge
CONFIG_FUELGAUGE_SM5714=m

# Input
CONFIG_HALL_LOGICAL=m
CONFIG_HALL_NOTIFIER=m
CONFIG_INPUT_HALL_IC=m
CONFIG_INPUT_SEC_NOTIFIER=m

# MFD
CONFIG_MFD_SM5714=m

# MUIC
CONFIG_MUIC_AFC_RETRY=y
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_MUIC_COMMON_SYSFS=y
CONFIG_MUIC_SM5714=m

# NFC - SNVM
CONFIG_SEC_SNVM_PLATFORM_DRV=y
CONFIG_STAR_K250A_LEGO=m

# Panel
CONFIG_SEC_PANEL_NOTIFIER_V2=m
CONFIG_USDM_BLIC_I2C=y
CONFIG_USDM_PANEL=m
CONFIG_USDM_PANEL_BLIC=y
CONFIG_USDM_PANEL_DEBUG=y
CONFIG_USDM_PANEL_DIMMING=y
CONFIG_USDM_PANEL_DISPLAY_MODE=y
CONFIG_USDM_PANEL_DPUI=y
CONFIG_USDM_PANEL_HX83102E_GTA4XLS_00=m
CONFIG_USDM_PANEL_ID_READ_BY_HSDT=y
CONFIG_USDM_PANEL_ID_READ_REG_DADBDC=y
CONFIG_USDM_PANEL_JSON=y
CONFIG_USDM_PANEL_OLED_COMMON=m
CONFIG_USDM_PANEL_SYSFS=y
CONFIG_USDM_PANEL_TFT_COMMON=m

# PDIC
# CONFIG_PDIC_USE_MODULE_PARAM is not set
CONFIG_PDIC_SM5714=m

# Project
CONFIG_SEC_GTA4XLS_PROJECT=y

# Radio
CONFIG_RADIO_S5E8825=m
CONFIG_RADIO_S620=m

# Sensors
CONFIG_SENSORS_ISG6320=m
CONFIG_SENSORS_ISG6320_WIFI=y
CONFIG_SENSORS_SUPPORT_SLSI=y

# Sound
CONFIG_SND_SOC_DBMD4_SPI=y
CONFIG_SND_SOC_DBMDX=m
CONFIG_SND_SOC_DBMDX_SND_CAPTURE=y
CONFIG_SND_SOC_DBMDX_VA_NS_SUPPORT=y
CONFIG_SND_SOC_RL6231=m
CONFIG_SND_SOC_RT5665=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS8825_RT5665_DBMDX=m

# SEC
CONFIG_SEC_ABC_MOTTO=m

# Sound - Abox
# CONFIG_SND_SOC_SAMSUNG_SUPPORTS_MULTIPLE_VARIANTS is not set
CONFIG_SND_SOC_SAMSUNG_ABOX_LOG_SINGLE=y

# Touchscreen
CONFIG_EPEN_WACOM_WEZ01=m
CONFIG_TOUCHSCREEN_HIMAX_CHIPSET=y
CONFIG_TOUCHSCREEN_HIMAX_COMMON=m
CONFIG_TOUCHSCREEN_HIMAX_IC_HX83102=m
CONFIG_TOUCHSCREEN_HIMAX_INCELL_CORE=m
CONFIG_TOUCHSCREEN_HIMAX_SPI=m

# USB
CONFIG_USB_HMT_SAMSUNG_INPUT=y

# Vibrator
# CONFIG_DC_VIBRATOR is not set
# CONFIG_SEC_VIBRATOR is not set
# CONFIG_VIBRATOR_VIB_INFO is not set
