# SPDX-License-Identifier: GPL-2.0

# Battery
CONFIG_BATTERY_LOGGING=y
CONFIG_BATTERY_SAMSUNG_REBOOT=y
CONFIG_CHARGER_SM5451=m
CONFIG_CHARGER_SM5714=m
CONFIG_SUPPORT_HV_CTRL=y

# Camera
CONFIG_CAMERA_ACT_AK737X_OBJ=m
CONFIG_CAMERA_CIS_4HA_OBJ=m
CONFIG_CAMERA_CIS_GC02M2_OBJ=m
CONFIG_CAMERA_CIS_HI1339_OBJ=m
CONFIG_CAMERA_CIS_JN1_OBJ=m
CONFIG_CAMERA_FLASH_SM5714_OBJ=m
CONFIG_CAMERA_MMW_M34X=y
CONFIG_CAMERA_USE_AOIS=y
CONFIG_CAMERA_USE_MCU=y
CONFIG_OIS_USE=y

# Charger
CONFIG_HICCUP_CHARGER=y

# DRM
CONFIG_DRM_SAMSUNG_DOZE=y

# Exynos
CONFIG_EXYNOS_FREQ_HOP=m

# Fingerprint
CONFIG_SENSORS_EC6XX=m

# Fuelgauge
CONFIG_FUELGAUGE_SM5714=m

# Leds
CONFIG_LEDS_SM5714=m

# MFD
CONFIG_MFD_SM5714=m

# MUIC
CONFIG_MUIC_AFC_RETRY=y
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_MUIC_COMMON_SYSFS=y
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_USE_MODULE_PARAM=y
CONFIG_HICCUP_CC_DISABLE=y

# NFC
CONFIG_NFC_ST21NFC=y
CONFIG_SAMSUNG_NFC=m
CONFIG_SEC_NFC_LOGGER=y

# Panel
CONFIG_USDM_FACTORY_CCD_TEST=y
CONFIG_USDM_FACTORY_DSC_CRC_TEST=y
CONFIG_USDM_FACTORY_ECC_TEST=y
CONFIG_USDM_MDNIE=y
CONFIG_USDM_PANEL=m
CONFIG_USDM_PANEL_AOD_BL=y
CONFIG_USDM_PANEL_DEBUG=y
CONFIG_USDM_PANEL_DIMMING=y
CONFIG_USDM_PANEL_DISPLAY_MODE=y
CONFIG_USDM_PANEL_DPUI=y
CONFIG_USDM_PANEL_FREQ_HOP=y
CONFIG_USDM_PANEL_ID_READ_BY_HSDT=y
CONFIG_USDM_PANEL_ID_READ_REG_04=y
CONFIG_USDM_PANEL_JSON=y
CONFIG_USDM_PANEL_LPM=y
CONFIG_USDM_PANEL_OLED_COMMON=m
CONFIG_USDM_PANEL_S6E3FC3=m
CONFIG_USDM_PANEL_SELF_DISPLAY=y
CONFIG_USDM_PANEL_SYSFS=y

# PDIC
CONFIG_PDIC_SM5714=m

# Project
CONFIG_SEC_M34X_PROJECT=y

# Radio
CONFIG_RADIO_S5E8825=m
CONFIG_RADIO_S620=m

# SEC
CONFIG_SEC_ABC_MOTTO=m

# Sensors
CONFIG_SENSORS_A96T396=m
CONFIG_SENSORS_A96T396_2CH=y
CONFIG_SENSORS_FW_VENDOR=y

# Shub
CONFIG_SHUB_AOIS=y

# Sound
CONFIG_SND_SOC_RL6231=m
CONFIG_SND_SOC_RT5691=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS8825_RT5691=m
